/* colors */
$main-color-text: #313131;
$third-color-text: #277553;
$main-color-bg: #ffffff;
$second-color-bg: #313131;
/* fonts */
$font-lato: 'Lato', 'Arial', sans-serif;
$font-inter: 'Inter', 'Arial', sans-serif;
$font-montserrat: 'Montserrat', 'Arial', sans-serif;
/* viewpots */
$mobile-width: 320px;
$tablet-width: 770px;
$desktop-width: 1440px;
