.adventure-map {
  width: $mobile-width;
  margin: 0 auto;
}

.title-adventure-map {
  margin-bottom: 24px;

  font-family: $font-montserrat;
  @include font(24px, 32px, 700);
  & b {
    color: #f47648;
  }
}

@media (min-width: $tablet-width) {
  .adventure-map {
    width: $tablet-width;
  }
  .title-adventure-map {
    margin-bottom: 38px;

    @include font(40px, 50px, 700);
  }
}

@media (min-width: $desktop-width) {
  .adventure-map {
    position: relative;

    width: $desktop-width;
    min-height: 7357px;
    margin-top: -1px;
    &::before {
      position: absolute;
      content: '';
      z-index: 5;
      top: 58px;
      left: 23px;

      width: 751px;
      height: 6922px;

      background: url('../../../img/map-line.svg') no-repeat;
      background-size: 751px 6922px;
    }
  }
}

