.day-5 {
  min-height: 1024px;
  margin-bottom: 48px;
  &__container {
    position: relative;

    width: $mobile-width;
    margin: 0 auto;
    padding: 6px 16px 0;

    background-color: #000000;
  }
  &__title {
    position: relative;
    z-index: 1;

    margin-bottom: 24px;

    font-family: $font-montserrat;
    @include font(24px, 30px, 700);
    color: $second-color-text;
  }
  &__content {
    position: relative;
    z-index: 1;

    margin-bottom: 24px;

    color: $second-color-text;
  }
  &__text {
    & > a {
      text-decoration: underline;
      text-underline-offset: 4px;
      &:active {
        opacity: 0.6;
      }
    }
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  & .slider {
    position: relative;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .day-5 {
    position: relative;
    min-height: 882px;
    margin-bottom: 80px;
    &__container {
      width: $tablet-width;
      padding: 0 40px;
    }
    &__title {
      margin-bottom: 32px;

      @include font(40px, 50px, 700);
    }
    &__content {
      margin-bottom: 46px;
    }
    &__text a:hover {
      color: #f47648;
    }
  }
}

@media (min-width: $desktop-width) {
  .day-5 {
    &__container {
      display: flex;
      width: $desktop-width;
      padding: 73px 96px 0;

      overflow: hidden;
      & > div {
        z-index: 5;

        width: 536px;
        order: 2;
      }
    }
    &__title {
      font-size: 37px;
      margin-bottom: 30px;
    }
    &__content {
      width: 457px;
    }
    & .slider {
      position: relative;
      z-index: 5;

      margin-top: 84px;
      margin-right: 171px;
      order: 1;
      &__list {
        flex-direction: row-reverse;
        margin-left: -217px;
      }
    }
    & .slider-buttons {
      margin-left: auto;
      margin-right: 56px;
    }
  }
}
