.day-8 {
  min-height: 494px;
  margin-top: -228px;
  margin-bottom: 41px;
  &__container {
    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    padding: 227px 16px 45px;

    background-image: image-set('../img/index/day-8/bg-mobile.png' 1x, '../img/index/day-8/bg-mobile@2x.png' 2x);
    background-size: 320px 489px;

  }
  &__title {
    margin-bottom: 23px;

    color: $second-color-text;
  }
  &__content {
    color: $second-color-text;
  }
}

@media (min-width: $tablet-width) {
  .day-8 {
    min-height: 494px;
    margin-top: -284px;
    margin-bottom: 64px;
    &__container {
      width: $tablet-width;
      padding: 250px 40px 0;

      background-image: image-set('../img/index/day-8/bg-tablet.png' 1x, '../img/index/day-8/bg-tablet@2x.png' 2x);
      background-size: 768px 494px;
    }
    &__title {
      margin-bottom: 32px;

      color: $second-color-text;
    }
    &__content {
      color: $second-color-text;
    }
  }
}

@media (min-width: $desktop-width) {
  .day-8 {
    min-height: 718px;
    margin-top: -190px;
    margin-bottom: 0;
    & * {
      z-index: 4;
    }
    &__container {
      width: $desktop-width;
      padding: 310px 96px 0;

      background-image: image-set('../img/index/day-8/bg-desktop.jpg' 1x, '../img/index/day-8/bg-desktop@2x.jpg' 2x);
      background-size: 1440px 718px;
      & > div {
        width: 504px;
        margin-left: 395px;
      }
    }
    &__title {
      width: 470px;
      margin-bottom: 50px;
    }
  }
}
