.day-3 {
  min-height: 1048px;
  &__container {
    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    padding: 48px 16px;

    background: url('../img/index/day-3/background-mobile.jpg') no-repeat;
    background-position-y: bottom;
  }
  &__title {
    margin-bottom: 24px;

    font-family: $font-montserrat;
    @include font(24px, 32px, 700);
    color: #212121;
  }
  &__content {
    margin-bottom: 24px;

    color: #212121;
  }
  &__text:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .day-3 {
    position: relative;

    min-height: 499px;
    &::after {
      position: absolute;
      content: '';
      bottom: -46px;
      right: 258px;

      width: 530px;
      height: 299px;

      background: url('../img/index/day-3/bg-eagle-tablet-version.png') no-repeat;
    }
    &__container {
      width: $tablet-width;
      padding: 0 40px;
      padding-bottom: 128px;

      background: #ffffff url('../img/index/day-3/background-tablet.jpg') no-repeat;
      background-size: 100% 596px;
      background-position-y: 340px;
    }
    &__title {
      margin-bottom: 33px;

      @include font(40px, 50px, 700);
    }
    &__content {
      margin-bottom: 45px;
    }
  }
}
