.day-4 {
  min-height: 1151px;
  &__container {
    position: relative;

    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    padding: 104px 16px 40px;

    background-color: #000000;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: -104px;

      width: 329px;
      height: 278px;

      background: url('../../../img/index/day-4/background-mobile.png') no-repeat;
    }
  }
  &__title {
    margin-bottom: 24px;

    font-family: $font-montserrat;
    @include font(24px, 32px, 700);
    color: $second-color-text;
  }
  &__content {
    margin-bottom: 24px;

    color: #acacac;
  }
  &__text {
    & > a {
      text-decoration: underline;
      text-underline-offset: 4px;
      &:active {
        opacity: 0.6;
      }
    }
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: $tablet-width) {
  .day-4 {
    min-height: 962px;
    &__container {
      width: $tablet-width;
      padding: 0 40px 80px;
      &::before {
        left: 334px;
        bottom: -88px;

        width: 373px;
        height: 315px;

        background: url('../../../img/index/day-4/background-tablet.png') no-repeat;
      }
    }
    &__title {
      width: 600px;
      margin-bottom: 32px;

      @include font(40px, 50px, 700);
    }
    &__content {
      margin-bottom: 46px;
    }
    &__text a:hover {
      color: #f47648;
    }
    &__text {
      &:not(:last-child) {
        margin-bottom: 23px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .day-4 {
      z-index: 2;

      min-height: 756px;
    &__container {
      display: flex;
      width: $desktop-width;
      padding: 95px 96px 0;

      overflow: hidden;
      & * {
        z-index: 5;
      }
      & > div {
        width: 538px;
        margin-right: 103px;
      }
      &::before {
        left: 966px;
        bottom: -34px;
      }
    }
    &__title {
      margin-bottom: 49px;
    }
    &__content {
      position: relative;
      z-index: 4;

      width: 475px;
    }
    & .slider {
      margin-top: 62px;
    }
  }
}
