.day-1 {
  position: relative;
  min-height: 1200px;

  color: #acacac;
  &::before {
    position: absolute;
    content: '';
    bottom: -89px;
    left: 0;

    width: 320px;
    height: 166px;

    background-image: image-set('../img/bg-decorate-mobile-version.png' 1x, '../img/bg-decorate-mobile-version@2x.png' 2x);
    background-size: 320px 166px;
  }
  &__container {
    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    padding: 0 16px;
    padding-top: 49px;
    padding-bottom: 56px;

    background-color: #000000;
    background-image: image-set('../img/index/day-1/bg-day-1.jpg' 1x, '../img/index/day-1/bg-day-1@2x.jpg' 2x);
    background-size: 1587px 1214px;
    background-position: -372px 0;
  }
  &__title {
    color: $second-color-text;
  }
  &__content {
    margin-bottom: 56px;
  }
  &__text {
    margin-bottom: 24px;
    & a {
      text-decoration: underline;
      text-underline-offset: 4px;
      &:active {
        opacity: 0.6;
      }
    }
    & b {
      color: $second-color-text;
    }
  }
  &__link-paratunka {
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .day-1 {
    min-height: 973px;
    &::before {
      left: 0px;
      bottom: -75px;

      width: 769px;
      height: 167px;

      background-image: image-set('../img/bg-decorate-tablet-version.png' 1x, '../img/bg-decorate-tablet-version@2x.png' 2x);
      background-size: 769px 167px;
    }
    &__container {
      width: $tablet-width;
      min-height: inherit;
      padding: 0 40px;
    }
    &__content {
      margin-bottom: 48px;
    }
    &__text {
      & a:hover {
        color: #f47648;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .day-1 {
    min-height: 817px;
    margin-bottom: 104px;
    & * {
      z-index: 5;
    }
    &::before {
      left: 0;
      bottom: -176px;

      width: 1440px;
      min-height: 302px;

      background-image: image-set('../img/bg-decorate-desktop-version.png' 1x, '../img/bg-decorate-desktop-version@2x.png' 2x);
      background-size: 1440px 302px;
      background-position: bottom;
    }
    &__container {
      width: $desktop-width;
      padding: 64px 96px 0;

      background-size: 1440px 833px;
      background-position: 0;

      overflow: hidden;
      & > div {
        display: flex;
      }
    }
    &__title {
      width: 461px;
      margin-bottom: 49px;
    }
    &__content {
      width: 461px;
    }
    & .slider {
      margin-top: 86px;
      margin-left: 180px;
    }
  }
}
