.day-3 {
  min-height: 1048px;
  &__container {
    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    padding: 48px 16px;

    background-image: image-set('../img/index/day-3/background-mobile.jpg' 1x, '../img/index/day-3/background-mobile@2x.jpg' 2x);
    background-size: 319px 260px;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
  &__title {
    margin-bottom: 24px;

    font-family: $font-montserrat;
    @include font(24px, 32px, 700);
    color: #212121;
  }
  &__content {
    margin-bottom: 24px;

    color: #212121;
  }
  &__text:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .day-3 {
    position: relative;

    min-height: 499px;
    &::after {
      position: absolute;
      content: '';
      bottom: -46px;
      right: -79px;

      width: 530px;
      height: 299px;

      background-image: image-set('../img/index/day-3/bg-eagle-tablet-version.png' 1x, '../img/index/day-3/bg-eagle-tablet-version@2x.png' 2x);
      background-size: 451px 299px;
      background-repeat: no-repeat;
    }
    &__container {
      width: $tablet-width;
      min-height: inherit;
      padding: 0 40px;
      padding-bottom: 126px;

      background-color: #ffffff;
      background-image: image-set('../img/index/day-3/background-tablet.jpg' 1x, '../img/index/day-3/background-tablet@2x.jpg' 2x);
      background-size: 100% 596px;
      background-position-y: 340px;
      background-repeat: no-repeat;
    }
    &__title {
      margin-bottom: 33px;

      @include font(40px, 50px, 700);
    }
    &__content {
      margin-bottom: 45px;
    }
    & .slider {
      position: relative;
      z-index: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .day-3 {
    min-height: 804px;
    & * {
      z-index: 5;
    }
    &::after {
      width: 0;
      height: 0;
      background: none;
    }
    &__container {
      display: flex;
      width: $desktop-width;
      padding: 0 96px;

      background-image: image-set('../img/index/day-3/background-desktop.jpg' 1x, '../img/index/day-3/background-desktop@2x.jpg' 2x);
      background-size: 100% 479px;
      background-position-y: 327px;
      background-repeat: no-repeat;

      overflow: hidden;
      & div:first-child {
        width: 505px;
        min-height: 510px;
        order: 2;
      }
    }
    &__title {
      margin-bottom: 49px;
    }
    & .slider {
      position: relative;
      z-index: 5;

      margin: 50px 198px 0 -95px;
      &__list {
        flex-direction: row-reverse;
        margin-left: -122px;
      }
    }
    & .slider-buttons {
      margin-top: 50px;
      margin-left: auto;
      margin-right: 32px;
      &__btn {
        background: url('../img/icon/arrow-button-dark.svg');
      }
    }
  }
}
