.expectations {
  min-height: 2013px;
  &__container {
    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    padding: 40px 16px 41px;
    background-color: #f1f1f1;
  }
  &__title {
    margin-bottom: 32px;

    font-family: $font-montserrat;
    @include font(32px, 40px, 700);
    color: #000000;
  }
  &__item {
    width: 288px;
    min-height: 420px;

    background-color: $main-color-bg;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__wrapper-content {
    min-height: 100%;
    padding: 32px 24px;
  }
  &__subtitle {
    margin-bottom: 12px;

    font-family: $font-montserrat;
    @include font(18px, 24px, 700);
  }
  &__text {
    font-size: 14px;
  }
}

@media (min-width: $tablet-width) {
  .expectations {
    min-height: 1182px;
    margin-bottom: 64px;
    &__container {
      width: $tablet-width;
      padding-top: 80px;
      padding: 80px 40px 80.68px;
    }
    &__title {
      margin-bottom: 48px;

      @include font(36px, 48px, 700);
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 324.77px);
      align-items: start;
      grid-gap: 36px;
    }
    &__item {
      width: 324.77px;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    &__wrapper-content {
      padding: 31px 27px;
    }
    &__img {
      width: 324.77px;
    }
    &__subtitle {
      margin-bottom: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .expectations {
    min-height: 609px;
    margin-bottom: 77px;
    & * {
      z-index: 5;
    }
    &__container {
      width: $desktop-width;
      padding: 68px 96px 0;
    }
    &__title {
      margin-bottom: 39px;
    }
    &__list {
      grid-template-columns: repeat(4, 288px);
      grid-gap: 32px;
    }
    &__item {
      width: 288px;
      min-height: 373px;
    }
    &__img {
      width: 288px;
      height: 161px;
    }
    &__wrapper-content {
      padding: 25px 24px;
    }
    &__subtitle {
      margin-bottom: 8px;
    }
  }
}
