.popover-paratunka {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
  &--open {
    display: block;
  }
  &__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: $mobile-width;
    min-height: 568;
    padding: 20px 16px 0;
    margin: 0 auto;

    background: #ffffff url('../img/index/popover-paratunka/background-mobile.jpg') no-repeat;
  }
  &__btn-close {
    position: relative;

    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-bottom: 184px;

    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 20%;

      width: 24px;
      height: 1px;

      background-color: #ffffff;
    }
    &::before {
      transform: rotate(135deg);
    }
    &::after {
      transform: rotate(-135deg);
    }
    &:active,
    &:active::before,
    &:active::after {
      opacity: 0.7;
    }
  }
  &__title {
    margin-bottom: 16px;

    font-family: $font-inter;
    @include font(24px, 32px, 700);
  }
  &__text {
    height: 205px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__btn-return {
    width: 100%;
    padding: 21.8px 40.5px 26px;

    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 3px;

    background-color: transparent;
    border: none;
    &:active {
      opacity: 0.5;
    }
  }
}

@media (min-width: $tablet-width) {
  .popover-paratunka {
    &__container {
      width: $tablet-width;
      min-height: 1023px;
      padding: 28px 53px 0;

      background: #ffffff url('../img/index/popover-paratunka/background-tablet.jpg') no-repeat;
    }
    &__btn-close {
      margin-bottom: 391px;
      &:hover {
        border: 1px solid #f47648;
      }
      &:hover::before,
      &:hover::after {
        background-color: #f47648;
      }
    }
    &__title {
      margin-bottom: 21px;

      @include font(40px, 50px, 700);
    }
    &__text {
      min-height: 200px;
      overflow-y: auto;
    }
    &__btn-return {
      margin-top: auto;
      &:hover {
        color: #f47648;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .popover-paratunka {
    &__container {
      width: 800px;
      min-height: 833px;
      padding: 28px 64px 0;

      background: #ffffff url('../img/index/popover-paratunka/background-desktop.jpg') no-repeat;
    }
    &__btn-close {
      margin-bottom: 318px;
    }
    &__title {
      margin-bottom: 24px;
    }
    &__btn-return {
      padding: 21.8px 40.5px 18px;
    }
  }
}
