.social {
  display: none;
  &__icon {
    &:active {
      opacity: 0.5;
    }
  }
}

.social-footer {
  display: flex;
  justify-content: space-between;
  width: 96px;
}

@media (min-width: $tablet-width) {
 .social {
  display: block;
    &-footer {
      display: flex;
      justify-content: space-between;
      width: 96px;
    }
  }
  .application__social {
    display: flex;
    justify-content: space-between;
    width: 136px;
    margin-left: auto;
    margin-top: 12px;
    & .social__icon:hover {
      stroke: #f47648;;
    }
  }
}

@media (min-width: $desktop-width) {
  .application__social {
    margin-left: 0;
  }
}
