.subscribe {
  min-height: 1129px;
  margin-top: -252px;
  margin-bottom: 48px;
  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: end;
    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    padding: 0 16px 54px;

    background-color: #000000;
    background-image: image-set('../img/index/subscribe/background-mobile.jpg' 1x, '../img/index/subscribe/background-mobile@2x.jpg' 2x);
    background-size: 320px auto;
    background-position: left top;
    background-repeat: no-repeat;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 412px;

      width: 144px;
      height: 214px;

      background-image: image-set('../img/index/subscribe/magazine-mobile.png' 1x, '../img/index/subscribe/magazine-mobile@2x.png' 2x);
      background-size: 144px 214px;
      background-repeat: no-repeat;
    }
  }
  &__title {
    margin-bottom: 8px;

    font-family: $font-montserrat;
    @include font(32px, 40px, 700);
    color: $second-color-text
  }
  &__text {
    margin-bottom: 30px;

    color: $second-color-text;
  }
  &__form {
    & input {
      width: 100%;
      min-height: 40px;
      padding: 10px;
      margin-bottom: 24px;

      color: $second-color-text;

      background-color: transparent;
      border: 0;
      border-bottom: 1px solid $main-color-bg;
      &::placeholder {
        font-size: 20px;
        color: #999999;
      }
      &:focus {
        outline: none;
        border-bottom: 2px solid $main-color-bg;
      }
    }
  }
  &__btn {
    width: 100%;
    min-height: 40px;
    padding: 8px 0;

    color: $second-color-text;
    text-align: center;

    background-color: #f47648;
    border: 0;
    border-radius: 5px;
    &:active {
      opacity: 0.8;
    }
  }
}

@media (min-width: $tablet-width) {
  .subscribe {
    min-height: 909px;
    margin-top: -484px;
    margin-bottom: 64px;
    &__container {
      width: $tablet-width;
      padding: 0 40px 111px 266px;

      background-image: image-set('../img/index/subscribe/background-tablet.jpg' 1x, '../img/index/subscribe/background-tablet@2x.jpg' 2x);
      background-size: 769px 908px;
      background-position: left top;
      background-repeat: no-repeat;
      &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 72px;

        width: 356px;
        height: 332px;

        background-image: image-set('../img/index/subscribe/magazine-tablet.png' 1x, '../img/index/subscribe/magazine-tablet@2x.png' 2x);
        background-size: 241px 332px;
        background-repeat: no-repeat;
      }
    }
    &__title {
      @include font(36px, 48px, 700);
    }
    &__text {
      width: 455px;
      margin-bottom: 29px;

      @include font(20px, 32px, 400);
    }
    &__form {
      display: flex;
      justify-content: space-between;
    }
    &__form input {
      width: 305px;
      margin-bottom: 0;
    }
    &__btn {
      width: 134px;
      &:hover {
        background-color: $main-color-bg;
        color: #000000;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .subscribe {
    min-height: 909px;
    margin-top: -457px;
    margin-bottom: 118px;
    &__container {
      width: $desktop-width;
      padding: 0 150px 161px 400px;

      background-color: #000000;
      background-image: image-set('../img/index/subscribe/background-desktop.jpg' 1x, '../img/index/subscribe/background-desktop@2x.jpg' 2x);
      background-size: 1440px 908px;
      background-position: left top;
      background-repeat: no-repeat;
      &::before {
        left: 64px;
        bottom: 74px;
      }
    }
    &__title {
      font-size: 32px;
    }
    &__text {
      width: 520px;
    }
    &__form {
      justify-content: flex-start;
      & input {
        width: 563px;
        margin-right: 24px;
      }
    }
  }
}
