.footer {
  min-height: 1161px;

  color: $second-color-text;
  &__container {
    width: $mobile-width;
    min-height: inherit;
    margin: 0 auto;
    padding: 48px 16px 19px;

    background-color: #212121;
    & > div {
      border-bottom: 2px solid #363636;
    }
  }
  &__wrapper {
    &--subscribe {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 48px;
    }
    &--video {
      display: flex;
      width: 308px;
      margin-bottom: 49px;
    }
    &--social {
      margin-bottom: 41px;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 39px;
  }
  &__video {
    &-img {
      margin-right: 18px;

      border-radius: 9px;
    }
    &-title {
      display: block;
      width: 227px;
      margin-bottom: 6px;

      font-family: $font-montserrat;
      @include font(16px, 24px, 600);
    }
    &-link {
      width: 227px;

      color: #bababa;
      &:active {
        color: $second-color-text;
      }
    }
  }
  &__subscribe-text {
    width: 153px;
    margin-bottom: 16.4px;
    padding-top: 7px;

    font-family: $font-montserrat;
    @include font(14px, 28px, 700);
    color: #bababa;
  }
  &__subscribe-link {
    display: block;
    width: 134.5px;
    min-height: 42.5px;
    padding-top: 7.5px;
    margin-bottom: 16.4px;

    font-size: 14px;
    text-align: center;

    border: 1px solid $main-color-bg;
    border-radius: 5px;
    &:active {
      opacity: 0.6;
    }
  }
  &__subscribe-list-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 97px);
    grid-gap: 7px;
  }
  &__social-title {
    margin-bottom: 8px;

    font-family: $font-montserrat;
    @include font(16px, 24px, 600);
  }
  &__phone {
    font-family: $font-montserrat;
    @include font(20px, 32px, 700);
  }
  &__mode {
    margin-bottom: 34px;

    font-family: $font-montserrat;
    @include font(14px, 32px, 400);
    color: #bababa;
  }
  &__email {
    position: relative;

    display: block;
    margin-bottom: 12px;
    padding-left: 25px;
    &::before {
      position: absolute;
      content: '';
      left: 1px;
      top: 5px;

      width: 16px;
      height: 16px;

      background: url('../img/index/footer/mail.svg') no-repeat;
    }
    &:active {
      opacity: 0.6;
    }
  }
  &__address {
    position: relative;

    margin-bottom: 55px;
    padding-left: 25px;

    font-style: normal;
    &::before {
      position: absolute;
      content: '';
      left: 0px;
      top: 5px;

      width: 16px;
      height: 16px;

      background: url('../img/index/footer/location.svg') no-repeat;
    }
    &:active {
      opacity: 0.6;
    }
  }
  &__copyright {
    min-height: 60px;
    padding-top: 24px;

    font-size: 14px;
  }
}

.navigation-footer {
  &__list {
    margin-bottom: 48px;

    color: #bababa;
  }
  &__item {
    margin-bottom: 16px;
  }
  &__link {
    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: $tablet-width) {
  .footer {
    min-height: 756px;
    &__container {
      width: $tablet-width;
      padding: 63px 40px 48px 40px;
      & > div {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &__logo {
      margin-bottom: 33px;
    }
    &__wrapper {
      &--navigation {
        width: 168px;
      }
      &--subscribe {
        width: 334px;
        margin-left: auto;
        margin-bottom: 74px;
      }
      &--video {
        width: 308px;
        min-height: 158px;
        margin-right: 80px;
        margin-bottom: 0;
        padding-bottom: 30px;
      }
      &--social {
        margin-top: -8px;
        order: 2;
      }
      &--contacts {
        width: 194px;
        min-height: 158px;
        margin-right: 106px;
      }
    }
    &__subscribe-text {
      font-size: 16px;
    }
    &__subscribe-link {
      width: 157.5px;
      min-height: 42.5px;
      margin-left: auto;
      &:hover {
        color: #f47648;
        border-color: #f47648;
      }
    }
    &__subscribe-list-images {
      grid-template-rows: repeat(2, 113px);
      grid-gap: 8.5px;
    }
    &__subscribe-item-images img {
      width: 105px;
      height: 113px;
    }
    &__video-link {
      &:hover {
        color: #f47648;
      }
      &:active {
        color: $second-color-text;
      }
    }
    &__address {
      margin-bottom: 0;
    }
    &__email:hover,
    &__address:hover {
      color: #808080;
    }
    &__copyright {
      padding-left: 8px;
    }
  }
  .navigation-footer {
    &__link {
      &:hover {
        color: #f47648;
      }
    }
  }
  .social {
    width: 100px;
    &__icon-footer:hover {
      stroke: #f47648;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-height: 529px;
    &__container {
      width: $desktop-width;
      padding: 63px 96px 48px 96px;
      & > div {
        padding-bottom: 47px;
      }
    }
    &__wrapper-inner {
      width: 308px;
    }
    &__wrapper {
      position: relative;
      &:not(:last-child):before {
        position: absolute;
        content: '';
        top: 0;
        right: -43px;

        width: 2px;
        min-height: 312px;

        background: linear-gradient(#212121 0%, #535353 51%, #212121 100%);
      }
      &--subscribe {
        margin: 0 82px;
      }
      &--contacts {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
