.header {
  position: relative;
  z-index: 1;

  min-height: 110px;
  padding-top: 21px;

  background-color: transparent;
  &__container {
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: $mobile-width;
    margin: 0 auto;
    padding: 0 16px;
  }
  &__burger {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 19px;
    padding: 0;
    margin-top: 9px;

    font-size: 0;

    background-color: transparent;
    border: none;
    &--nojs {
      display: none;
    }
    &--open {
      width: 20px;
      height: 20px;
    }
    &-decorate {
      width: 24px;
      height: 3px;

      border-radius: 1px;
      background-color: $third-color-text;
    }
    &--open {
      position: relative;

      & .header__burger-decorate {
        display: none;
      }
    }
    &--open::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;

      width: 24px;
      height: 1px;

      background-color: $second-color-bg;

      transform: rotate(45deg);
    }
    &--open::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;

      width: 24px;
      height: 1px;

      background-color: $second-color-bg;

      transform: rotate(-45deg);
    }
  }
  &__button {
    display: none;
  }
}

.menu {
  position: absolute;
  margin-bottom: 48px;
  top: -21px;
    left: 0;

    width: $mobile-width;
    min-height: 568px;
    padding-top: 104px;
    padding-bottom: 80px;

    background-color: $main-color-bg;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid $third-color-bg;
    border-top: 0;

  &--close {
    display: none;
  }

  &--open {
    display: block;
  }

  &--nojs {
    position: relative;
    display: block;

    & .header__logo {
      display: none;
    }
  }
  &__list {
    text-align: center;
  }
  &__item:not(:last-child) {
    margin-bottom: 56px;
  }
  &__link {
    @include font(20px, 32px, 400);
    color: $main-color-text;
    &--book {
      width: 177px;
      min-height: 40px;
      padding: 11px 32px 10px 32px;
      margin-left: 16px;

      border: 1px solid $second-color-bg;
      border-radius: 5px;
    }
    &:active {
      color: #f47648;
    }
    &--book:active {
      border: 1px solid #f47648;
    }
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 37px;
    &__container {
      justify-content: flex-start;
      width: $tablet-width;
      padding: 0 42px;
    }
    &__wrapper-navigation {
      order: 3;
    }
    &__button {
      display: block;
      order: 2;
      width: 177px;
      min-height: 40px;
      padding: 11px 32px 10px 32px;
      margin-left: auto;
      margin-right: 29px;

      @include font(16px, 19px, 400);
      color: $third-color-text;

      background-color: transparent;
      border: 1px solid $third-color-bg;
      border-radius: 5px;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        color: #f47648;

        border: 1px solid #f47648;

        opacity: 1;
      }
    }
  }

  .menu {
    top: -37px;
    left: 450px;
    min-height: 500px;
    padding-bottom: 20px;
    &__link {
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 1;
      }
    }
    &__link--book {
      display: none;
    }
  }
}

