.slider {
  &__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 304px;
    min-height: 268px;
    padding: 0;
    margin-bottom: 24px;

    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &--promo-margin {
      margin-bottom: 10px;
    }
  }
  &__item {
    position: relative;
  }
  &__description-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 290px;
    min-height: 100px;
    padding: 170px 16px 0;
    &--promo {
      padding-top: 210px;
    }
    & b {
      display: inline-block;
      margin-bottom: 5px;

      font-weight: 700;
      color: $second-color-text
    }
    & p {
      font-size: 14px;
      color: #bdbdbd;
    }
  }
}

@media (min-width: $tablet-width) {
  .slider {
    &__list {
      width: $tablet-width;
    }
    &__item:not(:last-child) {
      margin-right: 10px;
    }
  }
}
